arrowParens: always
bracketSpacing: true
embeddedLanguageFormatting: auto
# endOfLine: lf // set in .editorconfig
experimentalTernaries: true
insertPragma: false
printWidth: 80
proseWrap: preserve
quoteProps: as-needed
requirePragma: false
semi: false
singleQuote: true
# tabWidth: 2 // set in .editorconfig
trailingComma: es5
# useTabs: false // set in .editorconfig
